@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

:root {
    --first-color: #FAAD00;
    --second-color: #E95E19;
    --red: #FF0000;
    --white: #FFF;
}

body {
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
    max-width: 90%;
    width: 40%;
    padding: 3rem 0;
}

.guess-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
}

.error {
    font-weight: 400;
    font-style: italic;
    color: var(--red);
    font-size: 1rem;
}

input {
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 1rem;
    border-radius: 15px;
    width: 60px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: 2px solid var(--first-color);
}

input:focus {
    border: 2px solid var(--second-color);
}

button {
    background-color: var(--first-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    padding: 1rem;
}

button:hover {
    background-color: var(--second-color);
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 992px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 576px)  {
    .container {
        width: 90%;
    }
}